{% extends 'web/base.html' %}

{% block title %}Compte{% endblock title %}

{% block content %}
<main>

    <section class="login_section py-8 py-md-15 py-xl-22 fontAlter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-xl-4">
                    <ul class="nav nav-tabs tabset justify-content-center mb-10" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link tablink active" id="login-tab" href="#" aria-selected="true">Connexion</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="loginTabContent">
                        <form action="{% url 'loginForAnnonce' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label for="{{field.label}}">{{field.label}}<span class="text-danger">*</span></label>
                                {{field}}
                                {%for error in field.errors %}
                                <span style="color: red;">{{error}}</span><br />
                                {%endfor%}
                                <div id="{{field.name}}_errors"></div>
                            </div>
                            {% endfor %}
                            <div class="form-check mb-5 p-0">
                                <a href="/comptes/reset_password" class="float-right text-body txtLink">Mot de passe oublié?</a>
                            </div>
                            <button type="submit" disabled="true" class="btn btnTheme fwMedium w-100 d-block text-capitalize position-relative border-0 p-0" data-hover="Se connecter" id="submit">
                                <span class="d-block btnText">Se connecter</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}