{% extends 'web/base.html' %}

{% block title %}
Reset Password
{% endblock title %}


{% block content %}
<main>
    <section class="login_section py-8 py-md-15 py-xl-22 fontAlter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-xl-4">
                    <ul class="nav nav-tabs tabset justify-content-center mb-10" id="myTab" role="tablist">
                        <p class="tablink" style="text-align: center;" aria-selected="true">Entrer votre nouveau mot de passe</p>
                    </ul>

                    <div class="tab-content" id="loginTabContent">
                        {% load widget_tweaks %}
						<form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
								{% render_field form.new_password1 placeholder="Entrer votre nouveau mot de passe" class="form-control"%}
								<br />
								{% render_field form.new_password2 placeholder="Confirmez votre nouveau email" class="form-control"%}
                                <span style="color: red;">{{form.errors}}</span><br />
                            </div>
                            <button type="submit" class="btn btnTheme fwMedium w-100 d-block text-capitalize position-relative border-0 p-0" data-hover="Envoyer le mail" id="button">
                                <span class="d-block btnText">Confirmez</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}