{% extends 'web/base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<main>
    <section class="login_section py-8 py-md-15 py-xl-22 fontAlter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-xl-4">
                    <ul class="nav nav-tabs tabset justify-content-center mb-10" id="myTab" role="tablist">
                        <p class="tablink" style="text-align: center;" aria-selected="true">Votre mot de passe a été modifié avec succès !</p>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="tab-content" id="loginTabContent">
						<a href="{% url 'loginDepute' %}"><button type="submit" class="btn btnTheme fwMedium w-100 d-block text-capitalize position-relative border-0 p-0" data-hover="Se connecter" id="submit">
							<span class="d-block btnText">Se connecter</span>
						</button>
						</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}