{% load hitcount_tags %}
    <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Sujet: {{post.title}} (Lu {% get_hit_count for post %} Fois)</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{post.user.first_name|title}}</a></div>
                    <img src="{{post.user.photo.url}}" alt="Image">
                    <div>Posts: <u>{{post.user.num_posts}}</u></div>
                    <!-- <div>Points: <u>{{post.user.points}}</u></div> -->
                </div>
                <div class="content">
                    {{post.content|safe}}
                    <br>
                    <div class="comment">
                        <button onclick="showComment()" id="btnComment">Commenter</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Comment Area-->
        {% if post.closed == True %}
        <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Ce Sujet Est Fermé! </div>
        {% else %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment-area">
                <textarea name="comment" id="" placeholder="commenter ici ... "></textarea>
                <input type="submit" value="Poster" name="comment-form">
            </div>
        </form>
        {% endif %}

        <!--Comments Section-->

        {% for comment in comments %}
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{comment.user.first_name|title}}</a></div>
                    <div>Role</div>
                    <img src="{{comment.user.photo.url}}" alt="">
                    <div>Posts: <u>{{comment.user.num_posts}}</u></div>
                </div>
                <div class="content">
                    {{comment.content}}
                    <br>
                    <div class="comment">
                        <button onclick="showReplies('comment{{comment.id}}')" id="btnReply">Repondre</button>
                    </div>
                    <div>
                        {{comment.date}}
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment{{comment.id}}">
                <textarea name="reply" id="" placeholder="repondre ici ... "></textarea>
                <input type="submit" value="poster" name="reply-form">
                <input type="hidden" name="comment-id" value="{{comment.id}}">
            </div>
        </form>
    
        <!--Reply section-->
        {% for reply in comment.replies.all %}
        <div class="comments-container" style="width: 95%; margin-left:5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{reply.user.first_name|title}}</a></div>
                    <div>Role</div>
                    <img src="{{reply.user.photo.url}}" alt="">
                    <div>Posts: <u>{{reply.user.num_posts}}</u></div>
                </div>
                <div class="content">
                    
                    {{reply.content}}
                    <br>
                    <div>
                        {{reply.date}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
{% endfor %}