{% extends 'forums/base.html' %}

{% block content %}

    <div class="container">
        <div class="subforum">
            {% if forums %}
                <div class="subforum-title">
                    <h1>General Information</h1>
                </div>

                {% for forum in forums %}
                    <div class="subforum-row">
                        <div class="subforum-icon subforum-column center">
                            <i class="fa fa-gamepad"></i>
                        </div>
                        <div class="subforum-description subforum-column">
                            <h4><a href="{{forum.get_url}}">{{forum.title}}</a></h4>
                            <p>Description: {{forum.description}} </p>
                        </div>
                        <div class="subforum-stats subforum-column center">
                            <span>{{forum.num_posts}} Posts</span>
                        </div>
                        <div class="subforum-info subforum-column">
                            {% if forum.last_post %}
                                <b><a href="{{forum.last_post.get_url}}">Dernier post</a></b> par <a href="">{{forum.last_post.user.first_name|title}}</a> 
                                <br>le <small>{{forum.last_post.created_at|date}}</small>
                            {% else %}
                                <span>Pas de post pour cette categorie</span>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <div class="subforum-title">
                    <h1><i class="fa fa-frown-o"></i>&nbsp;Vous n'avez pas toujours de post.</h1>
                </div>
            {% endif %}
        </div>
        <!--More-->
        
        
        
    </div>

    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            Forum - Stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>{{num_posts}}</u> Posts dans <u>{{num_categories}}</u> Categories par <u>{{num_users}}</u> Membres.</span><br>
        {% if forums %}
            <span>Dernier post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> le {{last_post.created_at|date}} Par <a href="">{{last_post.user.first_name|title}}</a></span>.<br>
            <span>Verifié <a href="{% url 'forums:latest_posts' %}">Les derniers posts</a> .</span><br>
        {% endif %}
    </div>

    {% endblock content %}