{% extends 'web/base.html' %}
{% block title %}Details de l'actualité{% endblock title %}

{% block content %}
<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Events</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrWhite rounded-0 border-0 p-0 fontAlter mb-0">
                            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="eventsList.html">Event</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Organizing City Photography Contest-2022</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <article class="ItemfullBlock pt-7 pb-7 pt-md-10 pb-md-9 pt-lg-14 pb-lg-13 pt-xl-22 pb-xl-19">
        <div class="container">
            <div style="margin-left: 40px;">
                <center>
                <header class="dtlItemHeader mt-n1 mb-10">
                    <h2 class="mb-9">{{actualiteVideo.titre}}</h2>
                    <div class="imgHolder">
                        <iframe width="800" height="600" src="https://www.youtube.com/embed/{{actualiteVideo.lien}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </header>
                </center>

                <h2 class="mb-5 text-center">Autres vidéos</h2>

                <div class="row d-block mb-7 mb-lg-9 mb-xl-13" style="width: 100%;">
                    <div class="scgSpeakersSlider ">
                        {% for video in videos %}
                        {% if video.pk != actualiteVideo.pk %}
                            <div class="col-12">
                                <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                    <div style="width: 300px;height: 200px;">
                                        <iframe style="width: 100%;height: 100%;" src="https://www.youtube.com/embed/{{video.lien}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12">
                                <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                    <div style="width: 300px;height: 200px;">
                                        <iframe style="width: 100%;height: 100%;" src="https://www.youtube.com/embed/{{video.lien}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                </article>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock content %}