{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Actualités</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrWhite rounded-0 border-0 p-0 fontAlter mb-0">
                            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="eventsList.html">Event</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Organizing City Photography Contest-2022</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <article class="ItemfullBlock pt-7 pb-7 pt-md-10 pb-md-9 pt-lg-14 pb-lg-13 pt-xl-22 pb-xl-19">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 mb-6">
                    <div class="pr-lg-5 pr-xl-15 bodyFontAlter">
                        <header class="dtlItemHeader mt-n1 mb-10">
                            <strong class="dtlihTitle d-block">In <a href="javascript:void(0);">Conference</a></strong>
                            <h2 class="mb-9">Organizing City Photography Contest-2022</h2>
                            <div class="imgHolder">
                                <img src="http://placehold.it/875x650" class="img-fluid w-100" alt="image description">
                            </div>
                           
                        </header>
                        
                        
                        <h2 class="h2vii fwSemiBold mb-5">Speakers &amp; Chief Guests</h2>
                        <div class="row d-block mb-7 mb-lg-9 mb-xl-13">
                            <div class="scgSpeakersSlider">
                                <div class="col-12">
                                    <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                        <div class="imgHolder rounded-circle mb-3">
                                            <img src="http://placehold.it/150x150" class="img-fluid rounded-circle" alt="image description">
                                        </div>
                                        <h3 class="fwMedium mb-1">Anna Roselaw</h3>
                                        <h4 class="fontBase font-weight-normal">City Council</h4>
                                    </article>
                                </div>
                                <div class="col-12">
                                    <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                        <div class="imgHolder rounded-circle mb-3">
                                            <img src="http://placehold.it/150x150" class="img-fluid rounded-circle" alt="image description">
                                        </div>
                                        <h3 class="fwMedium mb-1">Robert Davis</h3>
                                        <h4 class="fontBase font-weight-normal">City Council</h4>
                                    </article>
                                </div>
                                <div class="col-12">
                                    <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                        <div class="imgHolder rounded-circle mb-3">
                                            <img src="http://placehold.it/150x150" class="img-fluid rounded-circle" alt="image description">
                                        </div>
                                        <h3 class="fwMedium mb-1">San Mangrow</h3>
                                        <h4 class="fontBase font-weight-normal">President</h4>
                                    </article>
                                </div>
                                <div class="col-12">
                                    <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                        <div class="imgHolder rounded-circle mb-3">
                                            <img src="http://placehold.it/150x150" class="img-fluid rounded-circle" alt="image description">
                                        </div>
                                        <h3 class="fwMedium mb-1">Anna Roselaw</h3>
                                        <h4 class="fontBase font-weight-normal">City Council</h4>
                                    </article>
                                </div>
                                <div class="col-12">
                                    <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                        <div class="imgHolder rounded-circle mb-3">
                                            <img src="http://placehold.it/150x150" class="img-fluid rounded-circle" alt="image description">
                                        </div>
                                        <h3 class="fwMedium mb-1">Robert Davis</h3>
                                        <h4 class="fontBase font-weight-normal">City Council</h4>
                                    </article>
                                </div>
                                <div class="col-12">
                                    <article class="speakerColumn text-center shadow bg-white pt-6 pb-7 px-4 mb-6">
                                        <div class="imgHolder rounded-circle mb-3">
                                            <img src="http://placehold.it/150x150" class="img-fluid rounded-circle" alt="image description">
                                        </div>
                                        <h3 class="fwMedium mb-1">San Mangrow</h3>
                                        <h4 class="fontBase font-weight-normal">President</h4>
                                    </article>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-content scgTabContent mb-10" id="scgTabsContent">
                            <div class="tab-pane fade" id="condet" role="tabpanel" aria-labelledby="condet-tab">
                                <div class="overflow-hidden">
                                    <ul class="list-unstyled ueScheduleList">
                                        <li>
                                            <i class="icomoon-clock icn position-absolute"><span class="sr-only">icon</span></i>
                                            9:30am - 1:00pm
                                        </li>
                                        <li>
                                            <i class="icomoon-location icn position-absolute"><span class="sr-only">icon</span></i>
                                            Mayor Office, Texas city
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                                <div class="overflow-hidden">
                                    <ul class="list-unstyled d-flex flex-wrap scgGalleryList">
                                        <li>
                                            <a href="http://placehold.it/405x220" class="lightbox" data-fancybox="true">
                                                <img src="http://placehold.it/405x220" class="img-fluid" alt="image description">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://placehold.it/405x220" class="lightbox" data-fancybox="true">
                                                <img src="http://placehold.it/405x220" class="img-fluid" alt="image description">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://placehold.it/405x220" class="lightbox" data-fancybox="true">
                                                <img src="http://placehold.it/405x220" class="img-fluid" alt="image description">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://placehold.it/405x220" class="lightbox" data-fancybox="true">
                                                <img src="http://placehold.it/405x220" class="img-fluid" alt="image description">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://placehold.it/405x220" class="lightbox" data-fancybox="true">
                                                <img src="http://placehold.it/405x220" class="img-fluid" alt="image description">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://placehold.it/405x220" class="lightbox" data-fancybox="true">
                                                <img src="http://placehold.it/405x220" class="img-fluid" alt="image description">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                     
                        
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-6">
                    <div class="ml-lg-n5">
                        <aside class="sidebar">
                            
                            <section class="widget widgetFeaturEvent mb-6 mb-lg-10">
                                <h3 class="fwMedium mb-5">Featured Event</h3>
                                <article class="ueEveColumn position-relative shadow bg-white w-100">
                                    <div class="imgHolder position-relative">
                                        <a href="eventSingle.html">
                                            <img src="http://placehold.it/385x285" class="img-fluid d-block w-100" alt="image description">
                                        </a>
                                        <time class="ueTimeTag position-absolute text-center d-flex bg-white fontAlter fwSemiBold text-lDark text-uppercase" datetime="2011-01-12">
                                            <span class="d-block text-white textDay flex-shrink-0 font-weight-bold">15</span>
                                            <span class="d-block py-2 px-3">OCT 2022</span>
                                        </time>
                                    </div>
                                    
                                </article>
                            </section>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock content %}