{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Calendrier des Sessions</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrWhite rounded-0 border-0 p-0 fontAlter mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'web:Annonce' %}">Annonces</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'web:Actualite' %}">Actualités</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'web:Symbole' %}">Symbole De L'Assemblée</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</br>
</br>
</br>
</br>
</br>
</main>

{% endblock content %}