{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Calendrier des Sessions</h1>
                    
                </div>
            </div>
        </div>
    </header>
    <article class="ItemfullBlock portfolioSingle bodyFontAlter pt-7 pb-7 pt-md-10 pb-md-9 pt-lg-14 pb-lg-13 pt-xl-22 pb-xl-19">
        <h3>Pas de donnees pour l'instant</h3>
    </article>
</main>

{% endblock content %}