{% extends 'web/base.html' %}

{% block title %} Contact 1 {% endblock title %}

{% block content %}

<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Details de l'evenement</h1>
                    
                </div>
            </div>
        </div>
    </header>
    <article class="ItemfullBlock pt-7 pb-7 pt-md-10 pb-md-9 pt-lg-14 pb-lg-13 pt-xl-22 pb-xl-19">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 col-md-10 offset-lg-1 offset-md-1 mb-6">
                    <div class="pr-lg-5 pr-xl-15 bodyFontAlter">
                        <header class="dtlItemHeader mt-n1 mb-10">
                            <h2 class="mb-9">{{event.nom}}</h2>
                            <div class="imgHolder">
                                <img src="{{event.image.url}}" class="img-fluid w-100" alt="image description">
                            </div>
                            <address class="mb-0 dtlhDress fontAlter">
                                <div class="row no-gutters">
                                    <div class="col-12 col-sm-4 px-4 px-md-7 pt-6 pb-12">
                                        <strong class="d-block title fwSemiBold mb-2">Date</strong>
                                        <span class="d-block">
                                            <time datetime="2011-01-12">{{event.date|date}}</time>
                                        </span>
                                        <i class="icomoon-calendar icnWatermark"><span class="sr-only">icon</span></i>
                                    </div>
                                    <div class="col-12 col-sm-4 px-4 px-md-7 pt-6 pb-12">
                                        <strong class="d-block title fwSemiBold mb-2">Time</strong>
                                        <span class="d-block">
                                            <time datetime="2011-01-12">{{event.heureDebut}} - {{event.heureFin}}</time>
                                        </span>
                                        <i class="icomoon-clocko icnWatermark"><span class="sr-only">icon</span></i>
                                    </div>
                                    <div class="col-12 col-sm-4 px-4 px-md-7 pt-6 pb-12">
                                        <strong class="d-block title fwSemiBold mb-2">Location</strong>
                                        <span class="d-block">{{event.lieu}}</span>
                                        <i class="icomoon-locationpin icnWatermark"><span class="sr-only">icon</span></i>
                                    </div>
                                </div>
                            </address>
                        </header>
                        <p class="mb-6">{{event.content|safe}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock content %}