{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

<main>
    <header class="pageMainHead d-flex position-relative w-100 text-white" style="background-image: url(/static/web/images/BannerDeputes.jpg);" style="position: absolute;left: -50%;">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Evènements à L'hemicycle</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrWhite rounded-0 border-0 p-0 fontAlter mb-0">
                            <li class="breadcrumb-item"><a href="home.html">Acceuil</a></li>
                            <li class="breadcrumb-item"><a href="eventsList.html">Président</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Anciens Présidents</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="ItemfullBlock pt-7 pb-7 pt-md-10 pb-md-9 pt-lg-14 pb-lg-13 pt-xl-22 pb-xl-19">
        <div class="container">
            <header class="ifbFilterHead bg-light px-4 pt-4 pb-3 px-lg-8 pt-lg-7 pb-lg-6">
                <form action="{% url 'web:searchEvenements' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row mx-n3 d-flex justify-content-center">
                        <div class="formCol px-3">
                            <div class="form-group">
                                <label class="d-block fwMedium fontAlter text-lDark mb-2">Start Date</label>
                                <input type="date" name="dateDebut" class="form-control inputHeightMedium inputBdrTransparent d-block w- shadow">
                            </div>
                        </div>
                        <div class="formCol px-3">
                            <div class="form-group">
                                <label class="d-block fwMedium fontAlter text-lDark mb-2">End Date</label>
                                <input type="date" name="dateFin" class="form-control inputHeightMedium inputBdrTransparent d-block w- shadow">
                            </div>
                        </div>
                        <button type="submit" class="btn btnTheme ml-lg-3 w-50 mt-4 mt-lg-0 position-relative border-0 p-0" data-hover="Rechercher">
                            <span class="d-block btnText">Rechercher</span>
                        </button>
                    </div>
                </form>
            </header>

            <div class="row justify-content-center pt-8 pt-lg-11 pt-xl-14">
                {% for evenement in events %}
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <article class="ueEveColumn position-relative shadow bg-white mb-6 mb-xl-12 w-100">
                        <div class="imgHolder position-relative">
                            <a href="javascript:void(0);">
                                <img src="{{evenement.image.url}}" class="img-fluid d-block w-100" alt="image {{evenement.nom}}">
                            </a>
                            <time class="ueTimeTag position-absolute text-center d-flex bg-white fontAlter fwSemiBold text-lDark text-uppercase" datetime="2011-01-12">
                                <span class="d-block text-white textDay flex-shrink-0 font-weight-bold">{{evenement.date|date:"j"}}</span>
                                <span class="d-block py-2 px-3">{{evenement.date|date:"F Y"}}</span>
                            </time>
                        </div>
                        <div class="ueDescriptionWrap pt-5 pb-8 px-5">
                            <strong class="d-block ueCatTitle fwSemiBold text-secondary mb-2">{{evenement.nom}}</strong>
                            <h3 class="h3Small fwMedium mb-3">
                                <a href="eventSingle.html">{{evenement.content|safe|truncatechars:15}}</a>
                            </h3>
                            <address>
                                <ul class="list-unstyled ueScheduleList">
                                    <li>
                                        <i class="icomoon-clock icn position-absolute"><span class="sr-only">icon</span></i>
                                        {{evenement.heureDebut}} - {{evenement.heureFin}}
                                    </li>
                                    <li>
                                        <i class="icomoon-location icn position-absolute"><span class="sr-only">icon</span></i>
                                        {{evenement.lieu}}
                                    </li>
                                </ul>
                            </address>
                            <a href="{% url 'web:Evenement_detail' evenement.pk %}" class="btn btnCustomLightOutline bdrWidthAlter btn-sm text-capitalize position-relative border-0 p-0 mt-3 align-top" data-hover="More Details">
                                <span class="d-block btnText">Plus de details</span>
                            </a>
                        </div>
                    </article>
                </div>
                {% empty %}

                <h3 style="text-align: center;margin-top: 30px;">Pas d'évènements trouvés</h3>

                {% endfor %}

            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center pt-2">
                    {% if evenements.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ evenements.previous_page_number }}">Précédent</a>
                    </li>
                    {% endif %}
                
                    {% for page in evenements.paginator.page_range %}
                        {% if page == evenements.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                
                    {% if evenements.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ evenements.next_page_number }}">Suivant <i class="fas fa-chevron-right icn"><span class="sr-only">icon</span></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
</main>
{% endblock content %}