{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<main>
	<header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
		<div class="alignHolder d-flex w-100 align-items-center">
			<div class="align w-100 position-relative">
				<div class="container">
					<h1 class="text-white mb-2">Galerie Photos</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb breadcrWhite rounded-0 border-0 p-0 fontAlter mb-0">
							<li class="breadcrumb-item"><a href="{% url 'web:Annonce' %}">Annonces</a></li>
							<li class="breadcrumb-item"><a href="{% url 'web:Actualite' %}">Actualités</a></li>
							<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'web:Symbole' %}">Symbole De L'Assemblée</a></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<article class="ItemfullBlock portfolioSingle bodyFontAlter pt-7 pb-7 pt-md-10 pb-md-9 pt-lg-14 pb-lg-13 pt-xl-22 pb-xl-19">
		<div class="container">
			<div class="row mb-3 mb-md-6">
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="http://placehold.it/405x300" class="potSingGallery overflow-hidden mb-6 lightbox d-block w-100" data-fancybox="true">
						<img src="http://placehold.it/405x300" class="img-fluid" alt="image description">
					</a>
				</div>
				
			</div>
			
		</div>
	</article>
	
	
</main>


{% endblock content %}