{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

{% load static %}

<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(/static/web/images/historiqueBanner.jpg);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Historique</h1>
                    
                </div>
            </div>
        </div>
    </header>
    <article class="briefHistoryBlock pt-7 pb-7 pt-md-10 pb-md-10 pt-lg-16 pb-lg-16 pt-xl-22 pb-xl-22">
        <div class="container containerSmall">
            <header class="headingHead mb-14">
                <h2 class="fwSemiBold text-center mb-7">REPUBLIQUE DU CONGO: HISTORIQUE DE L’ASSEMBLEE 
                    NATIONALE
                    </h2>
                    <div style="width: 75%;height: 5px;margin-top: -40px;margin-left: 80px;">
                        <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                    </div>
                </br>
                <div class="text-lDark fzMedium">
                    <p class="mb-6">L'historique de l'Assemblée nationale remonte en 1954, en 
                        passant par l'Assemblée </br> législative du moyen-Congo de mars 
                        1957 avant l'indépendance le 15 Août 1960. 
                        L'Assemblée territoriale du Moyen-Congo de 1954 comptait 36 
                        Députés, dont Appolinaire BAZINGA, Robert Stéphane 
                        TCHITCHELLE, MOUAMBA TSATOU. 
                        </p>
                </div>
                <p>Formée en application de la loi 52/130 du 06 février 1952, 
                    l'Assemblée territoriale du Moyen-Congo se transforme en 
                    Assemblée législative du Congo de mars 1957. Elle avait pour 
                    tête d'affiche l'Abbé Fulbert YOULOU, Marcel IBALICO. 
                    Tout part de la loi cadre de 1956 qui a accordé l'autonomie aux 
                    colonies françaises dont le Congo. Une autonomie consignée 
                    dans la constitution du 04 mars 1958, issue du référendum du 
                    28 septembre de la même année. 
                    La République du Congo naquit à Pointe-Noire. 
                    En 1959, lors de sa toute première session constituante, 
                    l'Assemblée Congolaise transfert la capitale du Congo à 
                    Brazzaville. 
                    .</p>
            </header>
        </div>
        <div class="container">
            <div class="simImagesWrap">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="siwImgHolder mb-6">
                            <img src="{% static 'web/images/AssembleeAncien.jpg' %}" class="w-100 img-fluid" alt="image description">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="siwImgHolder mb-6">
                            <img src="{% static 'web/images/AssembleeAncien.jpg' %}" class="w-100 img-fluid" alt="image description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="timelineAreaWrap pt-6 pt-md-9 pt-lg-14">
            <div class="container containerMedium">
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <header class="text-center mb-8 mb-lg-12">
                            <h2 class="fwSemiBold mb-4">LES LEGISLATURES</h2>
                        </header>
                        <div style="width: 75%;height: 5px;margin-top: -60px;margin-left: 60px;">
                            <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                        </div>
                    </br>
                       
                    </div>
                </div>
                <ul class="list-unstyled timelineList position-relative py-7 py-md-12 mb-0 mx-auto mx-sm-0">
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/MassambaD.jpg' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1961</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 1ère Législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p>
                                En 1961 une nouvelle constitution est adoptée; 
                                Alphonse MASSAMBA-DEBAT est Président de 
                                l'Assemblée nationale, constituée de 61 députés. 
                                 
                                Au nombre des députés, Hilaire MAVIONGA, jacques 
                                OPANGAUlT. 
                                l'Abbé Fulbert YOULOU est alors élu Président de la 
                                République. 
                                </p>
                        </div>
                    </li>


                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/Ibalico.jpg' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1961-1963</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 2ème législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            
                        
                            <p> 
                                De 1961 à 1963, le Président de l'Assemblée nationale 
                                est Marcel IBALICO à la tête de 58 députés dont Isaac 
                                IBOUANGA, Martin ONIANGUE, Gabriel OBONGUI. 
                                Le Président l'Abbé Fulbert YOULOU affiche son intention de 
                                créer un Parti unique. Les syndicats provoquent une grève 
                                générale, une émeute éclate, l'Abbé Fulbert YOULOU 
                                démissionne. 
                                Alphonse MASSAMBA-DEBAT est porté à la tête de l'Etat 
                                comme Président de la République. Le Congo entre dans le 
                                système du Parti Unique, le Mouvement National de la 
                                Révolution (MNR). Une nouvelle constitution remplace celle 
                                de 1961. 
                                </p>
                        </div>
                    </li>
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1964-1966</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 3ème législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                De 1964 à 1966 léon Robert ANGOR est élu Président 
                                de l'Assemblée Nationale; nombre de députés 55. 
                                </p>
                        </div>
                    </li>
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1966-1968</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">4ème législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                       
                            <p> 
                                Le Président de l'Assemblée nationale est Georges 
                                MOUYABI de 1966 à 1968. 
                                 
                                Les luttes internes entre cadres du MNR vont conduire au 
                                renversement du pouvoir du Président de la République 
                                Alphonse MASSAMBA-DEBAT en 1968. 
                                Le commandant Marien NGOUABI est porté à la tête du pays 
                                le 31 décembre de la même année. Le Congo devient 
                                République Populaire du Congo. La constitution est changée, le 
                                drapeau et l'hymne sont également changés. Le nombre de 
                                députés est de 111. </p>
                        </div>
                    </li>

                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1973-1974</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 5ème législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                 
                                L'Assemblée nationale populaire est présidée par 
                                Dieudonné MIAKASSISSA de 1973 à 1974.  
                                </p>
                        </div>
                    </li>
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1974-1979</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">6ème législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                        
                            <p> 
                                
De 1974 à 1979 L'Assemblée nationale populaire est 
constituée de 
153 députés avec pour Président Alphonse MOUISSOU- 
POATY. 
le 18 mars 1977 le Président Marien NGOUABI est assassiné, 
le Comité militaire du Parti (CMP) est installé avec à sa tête le 
Général Joachim HYOMBI OPANGO. 
Le Président légifère par ordonnance, par manque d'une 
Assemblée nationale. 
Le 05 février 1979, le Président Joachim HYOMBI OPANGO 
quitte la Présidence, à la même date Dénis SASSOU NGUESSO 
 
est Président de la République. Une nouvelle constitution est 
élaborée. 
 </p>
                        </div>
                    </li>

                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1979-1989</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 7ème législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                
                                De 1979 à 1989 Jean NGANGA ZANZOU, Préside 
                                L'Assemblée nationale populaire. 
  
                                </p>
                        </div>
                    </li>

                                     
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1989-1991</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">8ème Législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                        
                            <p> 
                                
                                
                                Bernard COMBO MATSONA est élu Président de 
                                L'Assemblée nationale populaire de 1989 à 1991. 
                                Après l'effondrement du bloc socialiste, le vent de la 
                                Pérestroïka souffle sur l'ensemble du continent, tous les pays 
                                ou presque, à Parti unique accèdent au multipartisme. 
                                Le Parti Congolais du Travail n'est pas écarté de cette exigence. 
                                Le 25 février 1990 la conférence nationale souveraine s'ouvre 
                                à Brazzaville sous l'égide d'un Prélat Monseigneur Ernest 
                                KOMBO. 
                                
 </p>
                        </div>
                    </li>

                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1991-1992</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 9ème Législature </h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                
                                
                                De 1991 à 1992, le conseil supérieur de la République est 
                                mis en place. Celui-ci est présidé par Monseigneur 
                                Ernest KOMBO et compte 49 conseillers. 
                                 
                                    
                                En août 1992, une nouvelle constitution est votée; le 
                                Professeur Pascal LlSSOUBA est élu Président de la 
                                République. La nouvelle Assemblée nationale de l'ère 
                                démocratique est mise en place; un parlement bicaméral : 
                                Assemblée nationale - Sénat. Augustin Poignet est élu 
                                Président du Sénat et André MOUELE Président de 
                                l'Assemblée nationale. 
                                
 </p>
                        </div>
                    </li>

                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/Milongo.jpg' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1993-1997</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4"> 10ème Législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                
                                 
                                Les divergences surgissent entre l'Union Panafricaine 
                                pour la Démocratie sociale UPADS Parti majoritaire et son allié, 
                                le Parti Congolais du Travail (PCT). 
                                l'article 75 de la constitution fait beaucoup d'interprétations. 
                                Le Président de la République Pascal LlSSOUBA décide de 
                                dissoudre l'Assemblée nationale. Les congolais repartent aux 
                                urnes pour élire de nouveaux députés. Un nouveau Président 
                                de l'Assemblée nationale est élu, André MILONGO du Parti 
                                UDR-MWINDA avec le concours du parti majoritaire UPADS 
                                (de 1993 à 1997). 
                                 
 </p>
                        </div>
                    </li>

                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">1997-2001</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">11ème législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                
                                Le 05 juin 1997 la guerre éclate, toutes les institutions 
                                tombent. Le Président Dénis SASSOU NGUESSO revient au 
                                pouvoir et met en place un conseil national de transition (CNT) 
                                c'est la 11 ème législature.
                                 
 </p>
                        </div>
                    </li>

                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">2022-2007</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">12ème Législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                        
                            <p> 
                                
                                 
 
	
                                De 2002 à 2007, Jean Pierre THYSTERE TCHICAYA 
                                préside l'Assemblée nationale. 
                                
 </p>
                        </div>
                    </li>
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/congo.png' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">2007-2017</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">13ème législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                
                                13ème Législature 
                                L'Assemblée nationale a pour Président Justin KOUMBA, 
                                2007 à 2017. 
                                 
 </p>
                        </div>
                    </li>
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/president.jpg' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">2017-2022</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">14ème législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;margin-left: auto;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                                
                                
                                De 2017 à 2022 Isidore MVOUBA préside l'Assemblée 
                                nationale qui compte 151 députés dont 17 femmes.
                                
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="imgHolder mt-2 mb-3 mb-sm-0">
                            <img src="{% static 'web/images/president.jpg' %}" class="img-fluid" alt="image description">
                        </div>
                        <div class="tlDescriptionWrap position-relative mt-1">
                            <strong class="tlTimeTitle fwSemiBold d-block fontAlter mb-1">
                                <time datetime="2011-01-12">2022-2027</time>
                            </strong>
                            <h3 class="fwSemiBold mb-4">15ème législature</h3>
                            <div style="width: 75%;height: 5px;margin-top: -30px;">
                                <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                            </div>
                        </br>
                            <p> 
                               
                                
                                
                                 
                                Le Président Isidore MVOUBA succède à lui-même, 
                                2022 à 2027. 
                                
                            </p>
                        </div>
                    </li>
                                

                </ul>
            </div>
        </div>
    </article>
    <section class="latestNewBlock pt-7 pt-md-10 pt-lg-15 pt-xl-21 pb-4 pb-md-8 pb-lg-11 pb-xl-16">
        <div class="container">
            <header class="headingHead mb-7 mb-md-9 mb-lg-13">
                <h2 class="fwSemiBold mb-2">Assemblee-Nationale</h2>
             <!--          <p>The news about recent activities for needed peoples.</p> --> 
            </header>

    </section>
</main>

{% endblock content %}