{% extends 'web/base.html' %}

{% load static %}

{% block content %}

<main>
    <div class="introBlock ibSlider">
        <div>
            <article class="d-flex w-100 position-relative ibColumn text-white overflow-hidden">
                <div class="alignHolder d-flex align-items-center w-100">
                    <div class="align w-100 pt-20 pb-20 pt-md-40 pb-md-30 px-md-17">
                        <div class="container position-relative">
                            <div class="row" style="display: flex; justify-content: flex-end;margin-right: -640px;">
                                <div class="col-12 col-md-9 col-xl-7 fzMedium">
                                    <h1 class="text-white mb-4 h1Large">ASSEMBLEE <br /> NATIONALE</h1>
                                    <p>La chambre basse du Parlement Congolais</p>
                                    <a href="eventsList.html" class="btn btnTheme font-weight-bold btnMinSm text-capitalize position-relative border-0 p-0 mt-6" data-hover="Découvrir plus">
                                        <span class="d-block btnText" style="background-color:#BB0505 ;">Découvrir plus</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="ibBgImage position-absolute" style="background-image: url(/static/web/images/slide_1.jpg);background-size: cover;"></span>
            </article>
        </div>
        <div>
            <article class="d-flex w-100 position-relative ibColumn text-white overflow-hidden">
                <div class="alignHolder d-flex align-items-center w-100">
                    <div class="align w-100 pt-20 pb-20 pt-md-40 pb-md-30 px-md-17">
                        <div class="container position-relative">
                            <div class="row" style="display: flex; justify-content: flex-end;margin-right: -240px;">
                                <div class="col-12 col-md-9 col-xl-7 fzMedium">
                                    <h1 class="text-white mb-4 h1Large">15ème LEGISLATURE<br/>2022-2027</h1>
                                    <p>La salle des représentants du peuple Congolais.</p>
                                    <a href="eventsList.html" class="btn btnTheme font-weight-bold btnMinSm text-capitalize position-relative border-0 p-0 mt-6" data-hover="Découvrir plus">
                                        <span class="d-block btnText">Découvrir plus</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="ibBgImage position-absolute" style="background-image: url(/static/web/images/slide_2.jpg);background-size: cover;"></span>
            </article>
        </div>
        <div>
            <article class="d-flex w-100 position-relative ibColumn text-white overflow-hidden">
                <div class="alignHolder d-flex align-items-center w-100">
                    <div class="align w-100 pt-20 pb-20 pt-md-40 pb-md-30 px-md-17">
                        <div class="container position-relative">
                            <div class="row" style="display: flex; justify-content: flex-end;margin-right: -200px;">
                                <div class="col-12 col-md-9 col-xl-7 fzMedium">
                                    <h1 class="text-white mb-4 h1Large">L'EXPRESSION<br/>DE LA DEMOCRATIE<br />CONGOLAISE</h1>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, explicabo?</p>
                                    <a href="eventsList.html" class="btn btnTheme font-weight-bold btnMinSm text-capitalize position-relative border-0 p-0 mt-6" data-hover="Découvrir">
                                        <span class="d-block btnText">Découvrir plus</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="ibBgImage position-absolute" style="background-image: url(/static/web/images/slide_3.jpg);background-size: cover;"></span>
            </article>
        </div>
    </div>

    
    <aside class="featuresAsideBlock position-relative text-white" style="background-color: #BB0505;padding: 30px">
        <div class="container-fluid">
            <div class="mt-n8 mt-md-n18">
                    <ul class="container-fluid list-unstyled fabFeaturesList mb-0 d-flex overflow-hidden flex-wrap" style="background-color: transparent;">
                        {% for categorie in categories %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 w-100">
                                <li style="margin: 2px;background-color: white;">
                                    <a href="{% url 'web:articles' categorie.pk %}" class="fflColumn d-block w-100 text-center px-2 pt-4 pb-10">
                                        <span class="icnWrap d-flex align-items-center justify-content-center mx-auto mb-4 rounded-circle">
                                                 <!-- <i class="icomoon-ico1"><span class="sr-only">icon</span></i> -->
                                            <img src={{categorie.icone.url}} />
                                        </span>
                                        <h2 class="mb-0" style="font-size: 16px;">
                                            {{categorie.nom}}
                                        </h2>
                                    </a>
                                </li>
                            </div>
                        {% endfor %}
                    </ul>
            </div>
        </div>
        <div class="fabBtNoteTextWrap text-center fontAlter fzMedium pt-6 pt-md-10 pb-6 pb-md-10 pb-lg-14">
            <div class="container">
                <div class="d-lg-flex justify-content-center align-items-center">
                    <p class="mb-lg-0">The official guide to living, working, visiting and investing in the Texas</p>
                    <a href="{% url 'web:Actualite' %}" class="btn btn-dark btnSwitchDark fwMedium position-relative border-0 p-0 btnCustomSmall mt-md-1 mt-lg-0 ml-lg-4" data-hover="Lire Plus"><span class="d-block btnText fwMedium">Lire Plus</span></a>
                </div>
            </div>
        </div>
    </aside>
    </div>
    <section class="exploreServicesBlock position-relative pt-7 pt-md-12 pt-lg-16 pt-xl-20 pb-0 pb-md-4 pb-lg-8 pb-xl-12">
        <div class="container">
            <header class="headingHead mb-7 md-md-9 mb-lg-13" style="margin-top: -50px;">
                <div class="row align-items-end" >
                    <div class="col-12 col-sm-7 col-xl-5">
                        <h2 class="mb-0">Restez connecté aux actualités parlementaires</h2>
                    </div>
                    <div class="col-12 col-sm-5 col-xl-7 d-sm-flex justify-content-sm-end">
                        <a href="services.html" class="btn btn-dark text-capitalize position-relative border-0 p-0 mt-4 mt-sm-0 mb-sm-1 minWidthMedium" data-hover="Explore Services">
                            <span class="d-block btnText">En savoir plus</span>
                        </a>
                    </div>
                </div>
            </header>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="esColumn position-relative text-center mb-13">
                        <video src="{{actualiteVideo.lien.url}}" style="width: 405px;height: 250px;" controls></video>

                        <div class="escCaption shadow position-absolute pt-4 px-2 pb-5" style="background-color: #000;">
                            <h3 class="fwMedium mb-0" style="color: white;">{{actualiteVideo.titre}}</h3>
                            <a href="{% url 'web:actualite-video-details' actualiteVideo.pk %}" class="btnLink fontAlter">Lire Plus <i class="fas fa-chevron-right blIcn"><span class="sr-only">icon</span></i></a>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="esColumn position-relative text-center mb-13">
                        <span class="imgHolder d-block w-100 bgCover" style="background-image: url('{{image1.source.url}}');"></span>
                        <div class="escCaption shadow position-absolute pt-4 px-2 pb-5" style="background-color: #000;">
                            <h3 class="fwMedium mb-0" style="color: white;">{{actualiteImage1.titre}}</h3>
                            <a href="{% url 'web:actualite-image-details' actualiteImage1.pk %}" class="btnLink fontAlter">Lire Plus <i class="fas fa-chevron-right blIcn"><span class="sr-only">icon</span></i></a>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="esColumn position-relative text-center mb-13">
                        <span class="imgHolder d-block w-100 bgCover" style="background-image: url('{{image2.source.url}}');"></span>
                        <div class="escCaption shadow position-absolute pt-4 px-2 pb-5" style="background-color: #000;">
                            <h3 class="fwMedium mb-0" style="color: white;">{{actualiteImage2.titre}}</h3>
                            <a href="{% url 'web:actualite-image-details' actualiteImage2.pk %}" class="btnLink fontAlter">Lire Plus <i class="fas fa-chevron-right blIcn"><span class="sr-only">icon</span></i></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <article class="aboutMayorBlock pt-md-7 pt-xl-11 pb-7 pb-md-13 pb-lg-20 pb-xl-28">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 pt-4" style="margin-top: -70px;">
                    <h2 class="lh44 mb-6" style="color: black;">Innovation du Président <br />de l'Assemblée Nationale.<br/>
                    Plan stratégique de développement et de modernisation.
                    <div style="width: 75%;height: 5px;margin-top: -10px;">
                        <img src="{% static 'web/images/TraitTitre.png' %}" alt="Trait" style="width: 100%;height: 100%;">
                    </div>
                    </h2>
                    <p style="margin-top: 50px;">
                        Depuis son élection à la présidence de l’Assemblée nationale, l’Honorable Isidore MVOUBA, a la volonté chevillée au corps pour arrimer la chambre des députés aux impératifs du 21ème siècle et sortir cette importante institution des sentiers battus.
                    </p>
                    <p>
                        C’est ainsi qu’il œuvre à la mise en place, avec l’aide des partenaires bi et multi latéraux, d’un plan stratégique de développement et de modernisation de l’Assemblée nationale.
                    </p>

                    <a href="javascript:void(0);" class="btn btn-dark btnSwitchDark fwMedium position-relative border-0 p-0 btnCustomSmall mt-md-1 mt-lg-0 ml-lg-4" data-hover="Lire Plus"><span class="d-block btnText fwMedium">Lire Plus</span></a>
                    <blockquote class="meetQuote fontAlter text-lDark mt-6 py-1 pl-4 pl-lg-8 pr-md-12 pr-lg-20 pr-xl-28">
                        <q class="d-block mb-4">Stand at the top of a cliff and jump off and build your wings on the way down.</q>
                        <cite class="d-block">Isidore MVOUBA,<br /> Président de l'Assemblée Nationale </cite>
                    </blockquote>
                    
                </div>
                <div class="col-12 col-md-6" style="margin-top: -50px;">
                    <div class="imgTwoImageHolder position-relative mt-7 mt-md-0 mb-20 mb-md-0">
                        <span class="img img1 position-relative d-block">
                            <img src="{% static 'web/images/president.jpg' %}" class="img-fluid" alt="image description">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </article>
   
    
    <section class="newsPulicationsBlock position-relative bg-light overflow-hidden pt-7 pb-4 pt-md-10 pb-md-4 pt-lg-16 pb-lg-10 pt-xl-22 pb-xl-16">
        <div class="container position-relative npbHolder">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <header class="headingHead pt-2 mb-7 mb-lg-0">
                        <h2 class="fwSemiBold mb-2">Nos Médias et Publications</h2>
                        <p>The news about recent activities for needed peoples.</p>
                        <a href="newsSingle.html" class="btn btn-outline-secondary bdrWidthAlter text-capitalize position-relative border-0 p-0 mt-5 btnXsMinWidth" data-hover="More News">
                            <span class="d-block btnText">More News</span>
                        </a>
                    </header>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-4">
                            <article class="npbColumn shadow bg-white mb-6">
                                <div class="imgHolder position-relative">
                                    <a href="javascript:void(0);">
                                        <img src="http://placehold.it/295x200" class="img-fluid w-100 d-block" alt="image description">
                                    </a>
                                    <time datetime="2011-01-12" class="npbTimeTag font-weight-bold fontAlter position-absolute text-white px-2 py-1">15 Oct 2020</time>
                                </div>
                                <div class="npbDescriptionWrap px-5 pt-8 pb-5">
                                    <strong class="d-block npbcmWrap font-weight-normal mb-1">
                                        <span class="mr-5">In Goverment</span>
                                        <i class="icomoon-chat"><span class="sr-only">icon</span></i> 0
                                    </strong>
                                    <h3 class="fwSemiBold mb-6">
                                        <a href="newsSingle.html">List of City Weekend Celebrations</a>
                                    </h3>
                                    <a href="newsSingle.html" class="btnCr d-inline-block align-top fontAlter">Continue Reading <i class="icomoon-arrowRight bcIcn ml-2 align-middle"><span class="sr-only">icon</span></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <article class="npbColumn shadow bg-white mb-6">
                                <div class="imgHolder position-relative">
                                    <a href="javascript:void(0);">
                                        <img src="http://placehold.it/295x200" class="img-fluid w-100 d-block" alt="image description">
                                    </a>
                                    <time datetime="2011-01-12" class="npbTimeTag font-weight-bold fontAlter position-absolute text-white px-2 py-1">12 Oct 2020</time>
                                </div>
                                <div class="npbDescriptionWrap px-5 pt-8 pb-5">
                                    <strong class="d-block npbcmWrap font-weight-normal mb-1">
                                        <span class="mr-5">In Culture</span>
                                        <i class="icomoon-chat"><span class="sr-only">icon</span></i> 2
                                    </strong>
                                    <h3 class="fwSemiBold mb-6">
                                        <a href="newsSingle.html">New Australian Economic Culture</a>
                                    </h3>
                                    <a href="newsSingle.html" class="btnCr d-inline-block align-top fontAlter">Continue Reading <i class="icomoon-arrowRight bcIcn ml-2 align-middle"><span class="sr-only">icon</span></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <article class="npbColumn shadow bg-white mb-6">
                                <div class="imgHolder position-relative">
                                    <a href="javascript:void(0);">
                                        <img src="http://placehold.it/295x200" class="img-fluid w-100 d-block" alt="image description">
                                    </a>
                                    <time datetime="2011-01-12" class="npbTimeTag font-weight-bold fontAlter position-absolute text-white px-2 py-1">08 Oct 2020</time>
                                </div>
                                <div class="npbDescriptionWrap px-5 pt-8 pb-5">
                                    <strong class="d-block npbcmWrap font-weight-normal mb-1">
                                        <span class="mr-5">In Developement</span>
                                        <i class="icomoon-chat"><span class="sr-only">icon</span></i> 3
                                    </strong>
                                    <h3 class="fwSemiBold mb-6">
                                        <a href="newsSingle.html">Smart City Design Plan 2025</a>
                                    </h3>
                                    <a href="newsSingle.html" class="btnCr d-inline-block align-top fontAlter">Continue Reading <i class="icomoon-arrowRight bcIcn ml-2 align-middle"><span class="sr-only">icon</span></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="npbBgPattern w-100 h-100 bgCover position-absolute inaccessible" style="background-image: url(images/bgPattern2.jpg);"></span>
    </section>
    <section class="exploreResourceBlock position-relative pt-7 pt-md-10 pt-lg-16 pt-xl-22 pb-7 pb-md-10">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-4 pt-xl-2">
                    <header class="erHeadingHead mb-7 mb-lg-11 mb-xl-0">
                        <h2 class="text-white">Explore Online <br>Services &amp; Resource</h2>
                        <p>City goverment providing a wide range of online services to people who need help.</p>
                    </header>
                </div>
                <div class="col-12 col-xl-8">
                    <div class="pl-xl-9">
                        <div class="row no-gutters shadow">
                            <div class="col-12 col-md-6 d-md-flex">
                                <ul class="list-unstyled erLinksList px-7 py-7 px-lg-10 py-lg-10 bg-white w-100 mb-0">
                                    <li>
                                        <a href="javascript:void(0);">Parking Permission</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">File a tax Return</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Order Birth certificate </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Get Building Permission</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Apply for Driving License</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Report Pollution</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 d-md-flex">
                                <ul class="list-unstyled erLinksList px-7 py-7 px-lg-10 py-lg-10 bgTheme w-100 mb-0">
                                    <li>
                                        <a href="javascript:void(0);">Public Service Identity</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Apply for a City Job</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Professional Licenses</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">National Planning Framework</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Apply for Business License</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Online Court Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>

{% endblock content %}