{% extends 'web/base.html' %}
{% load static %}
{% block title %}Listes Des Lois Adoptées{% endblock title %}

{% block content %}

<main>
    <header class="pageMainHead d-flex position-relative bgCover w-100 text-white" style="background-image: url(http://placehold.it/1920x300);">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Listes Des Lois</h1>
                    
                </div>
            </div>
        </div>
    </header>
    <article class="dsSingleContent pt-7 pb-2 pt-md-10 pb-md-1 pt-lg-16 pb-lg-10 pt-xl-21 pb-xl-16">
        <div class="position-relative">
            <div class="row">
                {% for loi in lois %}
                <div class="col-8 col-md-8 col-lg-8 col-xl-8 offset-2">
                        <ul class="list-unstyled drItemsList mb-11">
                            <li>
                                <div class="drItemRow position-relative d-flex pl-3 pl-md-6 pr-3 pr-sm-27 pr-md-30 py-3 mb-4">
                                    <span class="icnWrap flex-shrink-0 pt-1 mr-3">
                                        <img src="{% static 'web/images/icopdf.png' %}" class="img-fluid" alt="icon">
                                    </span>
                                    <div class="descrWrap">
                                        <h4 class="fontBase font-weight-normal mb-1">{{loi.nom}}</h4>
                                        <strong class="d-block fileSize font-weight-normal">PDF {{loi.fichier.size|filesizeformat }}</strong>
                                        <a href="{{loi.fichier.url}}" download class="btnDownload fwSemiBold">[ Télécharger ]</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- <hr class="mt-6 mb-10"> -->
                </div>
                {% empty %}
                <h3 class="text-center">
                    Pas de lois enregistrés !
                </h3>
                {% endfor %}

               
            </div>
        </div>
    </article>
</main>

{% endblock content %}