{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

<main>
    <header class="pageMainHead d-flex position-relative w-100 text-white" style="background-image: url(/static/web/images/presidentBanner.jpg);" style="position: absolute;left: -50%;">
        <div class="alignHolder d-flex w-100 align-items-center">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Président</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrWhite rounded-0 border-0 p-0 fontAlter mb-0">
                            <li class="breadcrumb-item"><a href="home.html">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'loginDepute' %}">Se Connecter</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'web:Liste_de_loi' %}">Liste Des Lois Adoptées</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% for article in articles %}
    
    <article class="aboutWelcomeBlock pt-7 pb-7 pt-md-10 pb-md-10 pt-lg-16 pb-lg-16 pt-xl-22 pb-xl-22">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="awbImgHolder text-md-right mt-5 mt-md-0">
                        <img src="{{article.image.url}}" style="width: 100%;height: 100%;" class="img-fluid" alt="image description">
                    </div>
                </div>
                <div class="col-12 col-md-6 d-md-flex align-items-md-center">
                    <div class="w-100 pr-xl-12">
                        <header class="awbHeadingHead text-lDark mb-4">
                            <h2 class="mb-5">{{article.titre}}</h2>
                            <p>{{article.description|safe}}</p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %} 
</main>

{% endblock content %}