{% extends 'web/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

<main>
    <header class="pageMainHead d-flex position-relative w-100 text-white" style="background-image: url(/static/web/images/emblemesBanner.jpg);">
            <div class="align w-100 position-relative">
                <div class="container">
                    <h1 class="text-white mb-2">Symbole De L'Assemblée Nationale</h1>
                    
                </div>
            </div>
        </div>
    </header>
    <article class="newsSingleWrap pt-7 pb-2 pt-md-9 pb-md-4 pt-lg-14 pb-lg-8 pt-xl-22 pb-xl-13">
        <h3>Pas de donnees pour l'instant</h3>
    </article>
</main>

{% endblock content %}